table{
    margin: auto;
    width:500px;
    border:1px solid black;
    text-align: center;
    border-collapse: collapse;
     margin-top: 50px;
    
}
tr,td,th{
    border:1px solid black;
    padding:7px;
}
img{
    width:30px;
    height: 30px;
    border-radius: 30%;
}